@use '../../partials/mixins' as *;
@use "../../partials/variables" as *;

.catalog {
  &__header {
    @include header;
    margin-bottom: 2rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}