@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header {
  min-width: 20rem;
  background-color: #02558b;
  border-bottom: 3px solid #E42D9F;
  
  &-nav {
    display: flex;
    align-items: center;
    
    @include tablet {
      margin: 0 1.5rem;
      height: 5rem;
      align-items: center;
    }
    
    @include desktop {
      max-width: 67.5rem;
      margin: 0 auto;
    }
    
    &__heading {
      text-decoration: none;
      font-family: $primary-heading;
      font-size: 1.6rem;
      padding: 1rem 1.625rem;
      color: #FFFFFF;
      
      @include tablet {
        padding: 0;
      }
    }
    
    &__links {
      display: flex;
      margin-left: auto;
      align-items: center;
      
      &-auth {
        color: #FFFFFF;
        cursor: pointer;
        padding:  .2rem 1rem;
        background-color: #33678f;
        border: 2px solid #FFFFFF;
        outline: none;
        border-radius: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font_base(0.9rem, 500);
        position: relative;
        
        &__icon {
          margin-right: .5rem;
        }

        &__test {
          opacity: 0;
          transition: all .15s;
          visibility: hidden;
          position: absolute;
          top: 2.6rem;
          right: 0;
          width: 18rem;
          padding: 1rem;
          background-color: #FFFFFF;
          color: #767676;
          border: 1px solid;
          border-radius: 0.3rem;
          display: flex;
          justify-content: space-evenly;
          
          &__auth-sign {
            @include auth_button(#02558b,#FFF)
          }
          
          &__auth-create {
            @include auth_button(#FFF,#02558b)
          }
          
          &--user {
            top: 2rem;
          }
        }
        
        &:hover & {
          &__icon {
            color: #E42D9F;
          }
          
          &__test {
            opacity: 1;
            visibility: visible;
            transform: translateY(-8px);
          }
        }
      }
    }
    
    &__shoppingCart {
      margin-left: .5rem;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      text-decoration: none;
      @include font_base(0.9rem, 500);
      
      &__icon {
        color: #E42D9F;
        font-size: 2rem;
      }
    }
  }
}