@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;

.header {
  min-width: 20rem;
  background-color: #02558b;
  border-bottom: 3px solid #E42D9F;
  
  &-nav {
    display: flex;
    
    @include tablet {
      margin: 0 1.5rem;
      height: 5rem;
      align-items: center;
    }
    
    @include desktop {
      max-width: 67.5rem;
      margin: 0 auto;
    }
    
    &__heading {
      text-decoration: none;
      font-family: $primary-heading;
      font-size: 1.6rem;
      padding: 1rem;
      color: #FFFFFF;
      
      @include tablet {
        padding: 0;
      }
    }
  }
}